
canvas {
  /*background-image: url("images/express.jpg");*/
  margin-top:40px;
  margin-bottom: 120px;
  margin-left:500px;
  background-position: center;
  background-size: 195%;
  /*background-color:white;*/
  display:none;
  border: solid 2px greenyellow;
}

body{
  background-image: url("images/express.jpg");
  background-size: 100%;


}
#elements
{margin-left: 10px;
  margin-top: 5px;
  width: 25%;
  
}
#btn-start{
  color:#296410;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:yellow;
  border-radius: 5px;
  padding: 10px;
  left: 180px;
  top: 280px;
  position: absolute;

}

.text-des{
  width: 1400px;
  height: 45%;
  margin-top: 90%;
  background-color: brown;
}
.breaker{
  position:absolute;
  left:50px;
  bottom: 600px;

}