
canvas {
  /*background-image: url("images/avello.jpg");*/
  margin-top:80px;
  margin-left:550px;
  background-position: center;
  background-size: 10%;
  background-color:white;
}

body{
 
  /*background-image: url("images/avello2.jpg");*/
  /*background-size: 10%;*/
  background-image: url("https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/wiiu_download_software_5/H2x1_WiiUDS_BrickBreaker.jpg");
}
#elements
{margin-left: 10px;
  margin-top: 5px;
  width: 25%;
  
}
#btn-start{
  color:white;
  font-family: cursive;
  background-color: black
}
#btn-reset{
  color:white;
  font-family: cursive;
  background: black;

}

.text-des{
  width: 1400px;
  height: 45%;
  margin-top: 90%;
  background-color: brown;
}